
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/TechNews/_LayoutTechNews.cshtml";
}

@Html.Action("HeroTechNews", "TechNews")
@Html.Action("ListTechNewsFeature", "TechNews")
<div class="pch-page-list-news-wrap">
    <div id="pch-page-list-news-inner">
        @Html.Action("ListTechNews", "TechNews")
    </div>
</div>

