
@{
    ViewBag.Title = "SwitchboardView";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="grid wide">
    <div class="SB-Content">
        <div class="support">
            <h2>Tổng đài hỗ trợ khách hàng và đối tác Chiến Thắng</h2>
            <p>Số điện thoại tổng đài: <strong>1800 9985</strong> (cước gọi là 1.000/phút)</p>
            <p>Thời gian hỗ trợ: 7:00 - 21:30 hàng ngày</p>
            <p>Bạn cũng có thể liên hệ qua:</p>
            <ul>
                <li>Email: <a href="mailto:support@gmail.com">support@chienthang.com</a></li>
                <li>Facebook: <a href="https://www.facebook.com/profile.php?id=61559589757691">ChienThangComputer</a></li>
            </ul>
            <p><strong>Lưu ý:</strong> Chiến Thắng computer sẽ sử dụng các số điện thoại sau để gọi ra cho quý khách:</p>
            <ul>
                <li>1800 9981</li>
                <li>1800 9982</li>
                <li>1800 9988</li>
            </ul>
            <p>Hotline: <strong>1800 9989</strong> của Chiến Thắng computer hỗ trợ khách hàng và đối tác.</p>
            <div class="SB-Content__itemImg">
                <img class="img-fluid" src="/Images/250.png" />
            </div>
            <div class="SB-Content__itemImg">
                <img class="img-fluid" src="/Images/249.png" />
            </div>
        </div>
    </div>
</div>
</div>


