
/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {

    .categories-and-Policy__item {
        min-width: 153px;
        height: 31px;
        font-size: 11px;
    }

        .categories-and-Policy__item > img {
            display: none;
        }

    .header__Navbar__Infomation__Item a {
        font-size: 10px;
    }

    .header__Navbar__Infomation__Switchboard, .header__Navbar__Infomation__Video, .header__Navbar__Infomation__CareerJob, .header__Navbar__Infomation__News {
        padding: 0 16px;
    }

    .header__Navbar__Option__Items {
        margin-right: 22px;
    }

    .product__Item .product__Item__Detail {
        bottom: -62px;
    }

        .product__Item .product__Item__Detail a:first-child {
            font-size: 12px;
        }

        .product__Item .product__Item__Detail a:last-child {
            font-size: 10px;
        }

    .hide-on-pc-low-resolution {
        display: none !important;
    }

    .megaMenu {
        min-height: 401px;
    }
}


/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .display-on-mobile-tablet {
        display: block;
    }

    .header__Navbar__Option__Cart__Icon {
        margin-left: 16px;
    }

    .header__Navbar__Right {
        flex: 1;
    }

    .header__Navbar__Option__Cart__Icon--Mobile {
        display: block;
    }

    .banner__right {
        width: 100%;
        margin: 0 10px;
    }


    .content {
        margin-top: calc(var(--height-header-content));
    }

    .new-product-title {
        text-align: center;
        height: var(--height-new-product-title);
        width: 100%;
        flex-direction: column;
        padding: 0;
        justify-content: unset;
        align-items: center;
    }

    .new-product-monitor-title {
        line-height: var(--height-new-product-title);
    }

    .product__Item .product__Item__Detail a:first-child {
        font-size: 11px;
    }

    .advertise {
        height: 0;
    }

    .header__content {
        padding: 6px 0;
    }

    header {
        padding: 0;
    }

    .fb-page-mobile {
        width: 100%;
    }

    .footer__Content__Confirm > img {
        width: 200px;
    }

    .footer__Content {
        line-height: 35px;
        padding: 0 16px;
    }

    .header__Navbar__Logo a {
        margin-left: 35px;
    }

    .product {
        padding: 40px 15px 0 15px;
    }

    .result-search {
        padding-left: 0;
    }

    .tabset > input:checked + .tab-title {
        border-bottom: 2px solid #fff;
    }

    .product__Info {
        padding: 40px 16px;
    }

    .distance-p-mobile-tablet {
        padding: 40px 5px 0 5px;
    }

    .updateInfomation {
        padding: 30px 16px;
    }

    .header__Navbar__Option__Items {
        margin: 0;
    }

        .header__Navbar__Option__Items div {
            margin: 0 0 0 16px;
        }

    .flex-column-reverse {
        flex-direction: column-reverse;
    }

    .item-cart-img-wrap {
        padding-left: 0 !important;
    }

    .wrap-content-checkout .sidebar:after {
        display: none;
    }

    .wrap-content-checkout .sidebar {
        min-height: initial;
    }

    .info-cart-wrap-mobile {
        display: flex;
    }

    .main-content-sidebar {
        padding: 0;
    }

    .wrap-content-checkout .main {
        padding: 0;
    }

    .logo-title-mobile {
        display: block;
    }

    .item-cart {
        padding-top: 18px;
    }

    .total-price-table tbody tr .customize-td-tbl {
        padding: 22px 0 16px 0;
    }

    .wrap-content-checkout .discount-code table tr td:last-child {
        padding-top: 10px;
    }

    .product__Info__Detail {
        padding-left: 0;
    }
    .cps-vouchers-list-product-link,
    .cps-btn-get-voucher {
        font-size: 9px;
        padding: 3px 6px;
        bottom: 4px;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .row {
        justify-content: space-around;
    }

    .product__Item .product__Item__Detail a:first-child, .product__Item .product__Item__Detail a:last-child {
        font-size: 14px;
    }

    .product__Item .product__Item__Detail {
        bottom: -54px;
    }

    .product .product__Item__Name h2 {
        height: 40px;
        font-size: 15px;
    }

    .product .product__Item__Info .product__Item__Sale {
        font-size: 15px;
    }

    .flickity-prev-next-button {
        top: 50%;
    }

    .wrap-content-checkout {
        margin: 0 auto;
        width: 534px;
        padding: 0;
    }

    .main-content-sidebar {
        padding-left: 0;
    }

    .banner__right {
        position: relative;
        left: -10px;
    }
    .fieldset-footer {
        padding-bottom:50px;
    }
    .star-rat-calc__progress-wrap {
        width:320px;
    }
    .star-rate {
        margin-right:20px;
    }
}

/* Mobile */

@media (max-width: 739px) {
    .star-rat-calc__text {
        font-size: 22px;
    }
    .desc-sub-title {
        font-size: 20px;
    }
    .vis-hid-cart-list {
        font-size: 12px;
    }
    .hide-on-mobile {
        display: none !important;
    }

    .display-on-mobile {
        display: block !important;
    }

    .header__content {
        display: flex;
        align-items: center;
    }

    .slick-dots li {
        margin: 0 4px;
    }

    .banner {
        padding: 0 10px 12px 10px;
    }

    .banner__right {
        margin: 0 auto;
    }

    .product__Item .product__Item__Detail {
        bottom: -62px;
    }

    .footer__Content__Fanpage, .footer__Content__Showroom, .footer__Content__Contact {
        margin-top: 26px;
    }

    a.logo-mobile {
        margin: 0 12px 0 24px;
    }

        a.logo-mobile > img {
            width: 45px;
            height: 45px;
        }

    .product__Wrap-Sort-By {
        padding: 28px 3px;
    }

    .col-20-percent {
        width: 50% !important;
    }

    .tabset > .tab-title:nth-child(2), .tabset > .tab-title:nth-child(4), .tabset > .tab-title:nth-child(6) {
        min-width: 124px;
    }

    .description iframe {
        width: 100%;
    }

    .InfomationUpdate {
        margin-top: 32px;
    }

    .page-account-heading {
        font-size: 32px;
    }

    .product__Item .product__Item__Detail a:first-child {
        font-size: 11px;
    }

    .flickity-prev-next-button.next, .flickity-prev-next-button.previous {
        display: none;
    }

    .fieldset-footer {
        flex-direction: column-reverse;
        padding-bottom: 50px;
    }

    .fieldset-footer__back-to-cart {
        margin-top: 34px;
    }

    .fieldset-footer__next-step, .btn-checkout {
        width: 100%;
    }

    .fieldset-footer__back-to-home, .btn-go-home {
        width: 100%;
        margin-bottom: 14px;
    }

    .wrap-content-checkout .discount-code table tr td:first-child {
        width: 64%;
    }

    .custom-row-fieldset-input {
        flex-direction: column-reverse;
    }

        .custom-row-fieldset-input > .fieldset-input-wrapper:first-child {
            margin-right: 0;
        }

    .wrap-content-checkout .main .main-content .fieldset .fieldset-country-wrapper {
        flex-direction: column;
    }

        .wrap-content-checkout .main .main-content .fieldset .fieldset-country-wrapper select {
            width: 100%;
            margin-bottom: 16px;
        }

            .wrap-content-checkout .main .main-content .fieldset .fieldset-country-wrapper select:nth-child(2) {
                margin-top: 6px;
            }

    .item-cart .item-price-product-wrap {
        padding-right: 0;
    }

    .product__Item .product__Item__Detail a {
        font-size: 11px;
    }
    .page-showroom, .wrap-content-promotion {
        padding: 0 16px;
    }
    .SB-Content {
        padding:10px 14px 0 14px;
    }
    .pmt-item strong{
        font-size:18px !important;
        margin-bottom:12px;
        display:block;
    }
    .wrap-content-IP {
        padding:50px 14px;
    }
    .desc-item {
        width:40%;
    }
    .footer__Content {
        text-align:center;
    }
    .take-care-customer, .call-to-buy {
        justify-content:center;
    }
        .take-care-customer span, .call-to-buy span {
            text-align:left;
        }
    .time-working {
        display:flex;
        flex-direction:column;
        margin: 25px 0;
    }
    .footer__Content__Fanpage {
        display:none;
    }
    .sort-by, .dropdownlist-sort-all {
        text-align: left;
        padding-bottom: 20px;
    }
    .price-range-block {
        padding-bottom:40px;
    }
    .cps-vouchers-list-product-link {
        right: 80px;
    }
    .cps-vouchers-block {
        margin:auto;
    }

    .header__Navbar__Option__Search input::placeholder {
        font-size: 13px;
    }

    .star-rat-calc-container {
        flex-direction:column;
    }
    .star-rat-calc__progress-wrap {
        flex:2;
    }
    .flex-process-star {
        flex:1;
    }
    .star-rate {
        margin-right: 20px;
    }
    .star-rat-calc__average {
        flex-direction:row;
    }
    .star-rat-calc__number {
        margin:0 84px;
    }
    .star-rate-list {
        justify-content:space-between;
    }
    .need-help {
        font-size: 14px;
        line-height: 24px;
        min-width: 190px;
    }
    h3.title-revelant {
        font-size: 16px;
    }
    .emp-text {
        font-size:20px;
    }
    .layout-page-EmptyCart img {
        width:100%;
    }
    .emp-btn-back-to-home {
        min-width: 286px;
        font-size: 14px;
    }
    .product .product__Item .product__Item__OverlayEffect {
        height:139px;
        min-height:unset;
    }
}

@media (max-width: 639px) {
    .btn-rating {
        font-size: 16px;
        min-width: 150px;
        height: 36px;
    }
    .star-rat-calc__progress-wrap {
        flex: 2;
    }
    .star-rate-percent {
        font-size:15px;
    }
    .star-rate-item {
        font-size:14px;
    }
    .star-rate, .star-rat-calc__progress-wrap {
        margin-right: 7px;
    }
    .star-rat-calc__number {
        margin: 0 38px;
    }
    .star-rat-calc__label {
        font-size:15px;
    }
    .rating__product-label {
        font-size:14px;
    }
    .rating__heading-title, .rating__product h3 {
        font-size: 20px;
    }
    .rating-avatar__img {
        width: 50px;
        height: 50px;
    }
    .rating-name-user {
        font-size:14px;
    }
    .star-rated-wrap i{
        font-size:10px;
    }
    .rating-text {
        font-size:14px;
    }
    .rating-footer {
        margin-top:12px;
    }
    .ratingOn {
        font-size:12px;
    }
    .star-rating-wrap span {
        font-size:16px;
    }
}

@media (max-width: 440px) {
    .star-rat-calc__progress-wrap {
        flex:1;
    }
    .title {
        font-size:22px;
    }
    .cps-btn-get-voucher {
        bottom: 4px;
    }
    
}

@media (max-width: 400px) {
    .product__Item .product__Item__Detail {
        flex-direction: column;
        bottom: -64px;
    }
    .cps-voucher-detail {
        display: none;
    }

    .cps-vouchers-title-text {
        font-size: 14px;
    }

    .cps-vouchers-right {
        justify-content: flex-start;
        padding-top: 4px;
    }
}