@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.backToTop {
    position: fixed;
    bottom: 20px;
    right: 15px;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

    .backToTop img {
        width: 45px;
        height: 45px;
    }

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}
header {
    background-color: #18191b;
}
.wrap-content {
    width: 1200px;
    margin: 0 auto;
}
.header__main-menu .info__brand .info__brand__content {
    display: flex;
    align-items: center;
}
.info__brand__content .info__brand__logo img {
    width: 140px;
    margin-right: 5px;
    border-right: 1px solid #fff;
}
.info__brand__content .info__brand__detail {
    color: rgb(255, 255, 255);
    font-size: 13px;
    line-height: 1.6;
    margin-left: 5px;
}
.info__brand__content .info__brand__detail p {
    margin: 0;
}
.info__brand__content .info__brand__detail p:first-child {
    text-transform: uppercase;
    font-weight: 500;
}
.info__brand__content .info__brand__detail p:last-child {
    font-size: 22px;
    font-weight: 900;
}
nav {
    height: 100%;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    height: 100%;
}
nav ul li {
    margin: 10px 30px;
    align-self: center;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}
nav ul li a:hover {
    text-decoration: none;
    color: white;
}
.banner {
    position: relative;
}
.banner .banner__content h1 {
    margin: 0;
}
.banner .banner__content {
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;
    z-index: 3;
    line-height: 41px;
}
.banner .banner__content h1 {
    color: rgb(229, 32, 63);
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}
.banner .banner__content p {
    font-size: 15px;
    margin: 0;
    padding-right: 50%;
}
.banner .banner__content p:nth-child(2) {
    font-weight: 900;
    font-size: 25px;
}
.banner .banner__content p:nth-child(3) {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.banner .banner__content p:nth-child(4) {
    color: rgb(229, 32, 63);
    font-weight: 700;
}
.banner .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(/Images/bg-20201021091601.jpg);
    background-size: cover;
    opacity: 0.28;
}
.banner .img-soldier {
    position: absolute;
    top: -10px;
    right: 250px;
    z-index: 5;
}
.banner .img-soldier img {
    width: 360px;
    height: 360px;
}
.step-by-step {
    position: relative;
}
.step-by-step .overlay2 {
    background-image: url(/Images/overlay1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.title {
    color: rgb(229, 32, 63);
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0 20px 0;
}
.step-by-step .step-by-step__content {
    position: relative;
    z-index: 4;
}
.step-by-step .step-by-step__content .step_item {
    display: flex;
}
.step-by-step .step-by-step__content .call {
    position: absolute;
    top: 30%;
    right: 44%;
    width: 242.373px;
    height: 65.8551px;
}
.step-by-step .step-by-step__content .chat {
    position: absolute;
    top: 30%;
    right: 22%;
    width: 242.373px;
    height: 65.8551px;
}
.step-by-step .step-by-step__content .list_center {
    position: absolute;
    top: 69%;
    right: 23%;
    width: 242.373px;
    height: 65.8551px;
    
}
    .step-by-step .step-by-step__content a {
        transition: all .2s ease;
    }
.step-by-step .step-by-step__content .sub_item_img:hover a{
    transform:scale(1.05);
}
.step-by-step .step-by-step__content .step-1 img:first-child {
    width: 820px;
    height: 245px;
}
@media (min-width: 768px) {
    .step-by-step .step-by-step__content .step-1 img:first-child {
        width: 984.64px;
        height: 273.371px;
    }
}
.step-by-step .step-by-step__content .step-2 img:first-child {
    width: 820px;
    height: 351px;
}
@media (min-width: 768px) {
    .step-by-step .step-by-step__content .step-2 img:first-child {
        width: 966.51px;
        height: 374.038px;
    }
}
.step-by-step .step-by-step__content .step-3 img:first-child {
    width: 820px;
    height: 173px;
}
@media (min-width: 768px) {
    .step-by-step .step-by-step__content .step-3 img:first-child {
        width: 947.245px;
        height: 164.881px;
    }
}
.step-by-step .step-by-step__content .step-3 {
    padding: 25px 0;
}
.step-by-step .step-by-step__content .step-1 img:last-child {
    width: 200px;
    height: 198px;
    align-self: flex-end;
}
@media (min-width: 768px) {
    .step-by-step .step-by-step__content .step-1 img:last-child {
        width: 204.079px;
        height: 198.918px;
    }
}
.step-by-step .step-by-step__content .step-2 img:last-child {
    width: 200px;
    height: 198px;
    align-self: flex-end;
}
@media (min-width: 768px) {
    .step-by-step .step-by-step__content .step-2 img:last-child {
        width: 204.079px;
        height: 198.918px;
    }
}
.step-by-step .step-by-step__content .step-3 img:last-child {
    width: 200px;
    height: 169px;
    align-self: flex-end;
}
@media (min-width: 768px) {
    .step-by-step .step-by-step__content .step-3 img:last-child {
        width: 204.079px;
        height: 169.665px;
    }
}
.rules {
    background: rgb(201 201 201 / 22%);
}
.rules .rules__img img {
    width: 370px;
    height: 130px;
}
.rules .rules__detail {
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.rules .rules__detail ul {
    margin: 0;
}
.rules .rules__detail ul li {
    font-size: 12px;
    font-weight: 500;
}
.rules .rules__detail p {
    font-size: 13px;
    margin-top: 10px;
}
.rules__content {
    position: relative;
}
.rules__content .line1 {
    position: absolute;
    top: 67px;
    left: 39%;
    height: 365px;
    border: 1px dotted rgb(229, 32, 63);
}
.rules__content .line2 {
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    border: 1px dotted rgb(229, 32, 63);
}
.rules-policy {
    display: flex;
}
.rules-policy .img-left img {
    width: 646px;
    height: 304.043px;
    align-self: flex-end;
}
.rules-policy .img-left {
    display: flex;
}

.rules-policy .rules-policy__detail img {
    width: 516.325px;
    height: 200.861px;
}
.policy-warranty {
    position: relative;
}
.policy-warranty .overlay3 {
    background-image: url(/Images/overlay1.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
}
.policy-warranty__content,
.time-handle__content,
.rules-policy-2 {
    position: relative;
    z-index: 4;
}
.policy-warranty__content .policy__imgs {
    display: flex;
}
.policy-warranty__content .policy__imgs img {
    width: 100%;
}
.time-handle__content .time-handle__img {
    display: flex;
    align-self: center;
}
.time-handle__content .time-handle__img img {
    width: 400.766px;
}
.time-handle__content .time-handle__detail p:nth-child(even) {
    color: rgb(229, 32, 63);
    font-weight: 700;
}
.time-handle__content .time-handle__detail p:last-child {
    color: inherit;
    font-weight: normal;
}
.brands .brands__content {
    display: flex;
    flex-wrap: wrap;
}
.brands .brands__content .brands-item {
    flex: 20%;
    cursor: pointer;
    transition: all 0.2s linear;
    padding: 10px;
}
.brands .brands__content .brands-item:hover {
    transform: scale(1.1);
}
.title-black-color {
    color: #000;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0 20px 0;
}
.img-rules5 img {
    width: 550px;
}
.img-rules5 p {
    margin: 0;
    color: rgb(229, 32, 63);
    font-weight: 700;
    align-self: center;
}
.maintenance__item p {
    padding-right: 15%;
}
.best-regard {
    background-color: rgb(229, 32, 63);
}
.best-regard .best-regard__content {
    margin: 0 auto;
    padding: 30px 0;
    text-align: center;
}
.best-regard .best-regard__content h3 {
    color: #fff;
    text-decoration: underline;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}
.best-regard .best-regard__content small {
    color: #fff;
}
footer {
    background-color: #000;
    color: white;
    font-weight: 500;
    padding: 50px 0;
}
footer .logo-footer {
    width: 180px;
    height: 63px;
}
footer p {
    margin: 0;
}
footer .footer_1__detail,
footer .footer_2__detail,
footer .footer_3__detail {
    font-size: 15px;
}
footer .footer_1__detail p:nth-child(2) {
    margin: 20px 0;
}
footer .footer_1__detail .footer__contact {
    display: flex;
    align-items: center;
}
footer .footer_1__detail .footer__contact a:nth-child(2) i {
    padding: 10px;
    background: white;
    color: black;
    border-radius: 5px;
    font-size: 22px;
}
footer .footer_1__detail .footer__contact a:nth-child(3) i {
    padding: 10px 15px;
    background: white;
    color: black;
    border-radius: 5px;
    font-size: 22px;
}
footer .footer_2__detail,
footer .footer_3__detail {
    margin-top: 25px;
}
footer .footer_2__detail > p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 26px;
}
footer .footer_2__detail .show-room__item {
    margin-bottom: 20px;
}
footer .footer_2__detail {
    padding-left: 30px;
}
footer .footer_2__detail .show-room__item p:first-child {
    font-weight: 500;
    font-size: 16px;
}
footer .footer_3__detail p:first-child {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 26px;
}
footer .footer_3__detail p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
}
footer .footer_3__detail p:nth-child(3) {
    font-size: 16px;
    font-weight: 500;
}
footer .footer_3__detail p:nth-child(4) {
    font-size: 16px;
    font-weight: 500;
}
footer .footer_3__detail p:nth-child(5) {
    font-size: 16px;
    font-weight: 500;
}
footer .footer_3__detail p:nth-child(2) span:first-child {
    width: 204px;
    display: inline-block;
}
footer .footer_3__detail p:nth-child(3) span:first-child {
    width: 204px;
    display: inline-block;
}
footer .footer_3__detail p:nth-child(4) span:first-child {
    width: 204px;
    display: inline-block;
}
footer .footer_3__detail p:nth-child(5) span:first-child {
    width: 204px;
    display: inline-block;
}
footer .footer_3__detail {
    line-height: 30px;
}
