
@{
    ViewBag.Title = "InstalmentPlan";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="grid wide">
    <div class="wrap-content-IP">
        <div class="text-center">
            <strong style="font-size:20px; color: #ff0000;">HDSAISON - TRẢ GÓP KHÔNG THẾ CHẤP TÀI SẢN</strong>
        </div>
        <p style="color: #ff0000;" class="font-weight-bold">Điều kiện và giấy tờ gốc cần có:</p>
        <ul class="list">
            <li><strong>Điều kiện: </strong>Tuổi từ 19 – 60, tính theo ngày tháng năm sinh trên chứng minh nhân dân(CMND).</li>
            <li><strong>Giấy tờ gốc cần có đối với các khoản vay:</strong></li>
        </ul>
        <p>+ <strong>Dưới 10 triệu:</strong></p>
        <p>- CMND còn hạn sử dụng (15 năm tính từ ngày cấp).</p>
        <p>- Hộ Khẩu (có thể dùng bằng lái xe thay cho hộ khẩu).</p>
        <p>+ <strong>10 triệu đến 30 triệu:</strong> bao gồm tất cả điều kiện của các khoản vay thấp hơn</p>
        <p>- Hoá đơn tiền điện / nước / Internet /TH cáp / điện thoại: do bạn đứng tên hoặc có địa chỉ trùng với nơi bạn ở.</p>
        <p>+ <strong>Trên 30 triệu:</strong> bao gồm tất cả điều kiện của các khoản vay thấp hơn</p>
        <p>- Nếu đang đi làm: có sao kê tài khoản 3 tháng gần nhất / hoặc Hợp đồng lao động / hoặc Bảo hiểm y tế.</p>
        <p>- Nếu là chủ Doanh Nghiệp: Giấy phép kinh doanh + Biên lai thuế 3 tháng gần nhất.</p>
        <ul class="list">
            <li><i>Công ty tài chính (HDSaison) chỉ kiểm tra xong giấy tờ gốc và gửi lại, không giữ bất cứ giấy tờ gì của khách hàng.</i></li>
            <li><strong>Thời gian duyệt hồ sơ:</strong> từ 10-30 phút.</li>
            <li><strong>Lưu ý:</strong> <i>khách hàng vẫn nhận đủ các chương trình khuyến mãi mà GearVN đang áp dụng đối với từng sản phẩm.</i></li>
        </ul>
        <strong style="font-size:20px; color: #ff0000;">Đăng ký và duyệt hồ sơ nhanh chóng qua điện thoại</strong>
        <ul class="list">
            <li><i>Hình thức này khách hàng không cần phải đến GearVN trước để chờ đợi duyệt hồ sơ, nếu hồ sơ hợp lệ thì mới mang đủ giấy tờ đến GearVN để hoàn tất hồ sơ và nhận sản phẩm.</i></li>
        </ul>
        <p>+ <strong>Bước 1:</strong> Đặt sản phẩm được bán theo giá niêm yết tại website và showroom GearVN theo phương thức trả góp không cần thế chấp tài sản tại http://www.gearvn.com</p>
        <p>+ <strong>Bước 2:</strong> Chờ và nhận cuộc gọi từ nhân viên làm hồ sơ từ công ty tài chính trong 2 giờ nếu đặt trước 18 giờ, đặt sau giờ này sẽ nhận cuộc gọi trước 12 giờ hôm sau.</p>
        <p>Cuộc gọi này sẽ xác nhận các thông tin cá nhân cần thiết để nhập vào hồ sơ đăng ký trả góp và thông báo thời gian để mang hồ sơ gốc đến GearVN.</p>
        <p>+ <strong>Bước 3:</strong> Mang các giấy tờ gốc đến GearVN theo lịch hẹn và chờ nhận kết quả xét duyệt trong khoảng thời gian 15-30 phút, sau đó nhận hàng. Giấy tờ gốc sẽ được trả lại khách hàng sau khi đã đối chiếu.</p>
        <ul class="list"><li class="font-weight-bold">Hoặc liên hệ chuyên viên tư vấn: HOTLINE GEARVN 1800.6975</li></ul>
        <strong style="font-size:20px; color: #ff0000;">Phương thức thanh toán khoản vay hàng tháng</strong>
        <p class="mt-3">+ Tra cứu khoản vay hàng tháng tại HDSaison <a href="https://www.hdsaison.com.vn/vn/khach-hang/tra-cuu-khoan-vay.html" target="_blank">tại đây</a>.</p>
        <p>- Thanh toán tại <a href="http://www.vnpost.vn/vi-vn/buu-cuc/tim-kiem" target="_blank">Bưu Điện</a> gần nhất.</p>
        <p>- Thanh toán qua hệ thống<a href="https://www.agribank.com.vn/71/1147/mang-luoi---atm-pos.aspx" target="_blank"> Ngân hàng Agribank.</a></p>
        <p>- Thanh toán qua hệ thống<a href="https://www.hdsaison.com.vn/embed/files/Mang%20luoi%20HDB.xls" target="_blank"> Ngân hàng HDBank.</a></p>
        <p>- Thanh toán qua hệ thống<a href="https://www.hdsaison.com.vn/embed/files/HD%20SAISON%20-%20Mang%20luoi%20thanh%20toan%20Mono%20-%2009_2017.xls" target="_blank"> Hệ Thống MoMo.</a></p>
        <p>+ Khách hàng tham khảo chi tiết phương thức thanh toán khoản vay <a style="text-decoration:none;" href="https://www.hdsaison.com.vn/vn/khach-hang/huong-dan-thanh-toan/de-dang-thuan-tien-va-nhanh-chong-19.html" target="_blank">tại đây</a>.</p>
        <strong style="font-size:20px; color: #ff0000;">"Cẩm Nang" để duyệt trả góp thành công:</strong>
        <p class="mt-3"><i>+ Lịch sử vay tiền mặt hoặc trả góp thanh toán tốt (đầy đủ, không đóng tiền quá trễ mỗi tháng) cũng là điều kiện để bạn được duyệt cho những lần kế tiếp.</i></p>
        <p><i>+ Nếu bạn vẫn còn đang trả góp một hợp đồng trước đó với công ty tài chính, tốt nhất nên trả góp hết hoặc thanh lý xong hợp đồng mới tiếp tục làm hồ sơ trả góp mới.</i></p>
        <p><i>+ Cân đối khoản trả góp bằng ½ tiền tiết kiệm hàng tháng sau khi trừ các khoản chi tiêu nhằm đảm bảo lịch sử chi trả tốt cho những lần vay sau.</i></p>
        <p><i><b>VD:</b> Thu nhập hàng tháng 8 triệu, chi tiêu bình quân 5 triệu và khoản tiết kiệm còn lại là 3 triệu => Bạn nên góp 1,5tr/tháng x số tháng mà bạn muốn trả góp.</i></p>
        <p><i>+ Cung cấp số điện thoại tham chiếu của người thân (vợ/chồng, anh/chị/em trong gia đình, bạn thân) và phải biết việc mình chuẩn bị mua trả góp.</i></p>
        <p><i>+ Thông tin bạn cung cấp nên chi tiết và chính xác theo đề xuất từ nhân viên tư vấn tài chính thì hồ sơ của bạn có tỷ lệ duyệt càng cao. </i></p>
        <p><i>Ngoài ra khách hàng có thể tham khảo các câu hỏi thường gặp <a href="https://www.hdsaison.com.vn/vn/khach-hang/cau-hoi-thuong-gap.html" target="_blank"> tại đây</a></i></p>
        <div class="text-center my-5">
            <strong style="font-size:26px; color: #ff0000;">mPOS - TRẢ GÓP QUA THẺ TÍN DỤNG</strong>
        </div>
        <p><img class="img-fluid mr-2" src="/Images/tickimg.png" /><i>Đây là hình thức mPOS hỗ trợ khách hàng vay thông qua thẻ tín dụng của ngân hàng. </i></p>
        <p><strong>Áp dụng:</strong> Khách hàng có nhu cầu mua hàng hoá tại GearVN và trả góp qua thẻ tín dụng với giá trị giao dịch từ 3,000,000 vnđ trở lên (sau khi trừ các khuyến mại).</p>
        <div class="my-4">
            <strong style="color: #ff0000; font-size:20px;"><img class="img-fluid mr-2" src="/Images/2b1b.png" />Điểm cần lưu ý:</strong>
        </div>
        <p><img class="img-fluid mr-2" src="/Images/tickimg.png" />Khách hàng phải sử dụng thẻ tín dụng trong các Ngân Hàng ở list*</p>
        <p><img class="img-fluid mr-2" src="/Images/tickimg.png" />Hạn mức của thẻ trong tháng đang sử dụng phải lớn hơn số tiền sản phẩm mà Bạn cần trả góp.</p>
        <p><img class="img-fluid mr-2" src="/Images/tickimg.png" />Cách làm hồ sơ: khi khách hàng chốt được sản phẩm tại GearVN, khách hàng mang theo CMND + Thẻ tín dụng (cả 2 đều phải chính chủ) và tới Quầy Thu Ngân để làm hồ sơ.</p>
        <p><i>Tổng số tiền khách hàng thanh toán qua thẻ tín dụng được chia đều và trả dần theo từng tháng, tuỳ thuộc vào kỳ hạn thanh toán mà khách hàng chọn lựa: 3/6/9/12 tháng.</i></p>
        <p class="my-4"><img class="img-fluid" src="/Images/2b1b.png" /> List* - Các Ngân hàng hiện có hỗ trợ (kỳ hạn):</p>
        <p>- <strong>Sacombank</strong> (6,12)</p>
        <p>- <strong>Eximbank</strong> (3,6,9,12)</p>
        <p>- <strong>Sandard Chareted</strong> (3,6,9,12)</p>
        <p>- <strong>VP Bank</strong> (3,6,9,12)</p>
        <p>- <strong>Maritimebank</strong> (3,6,9,12)</p>
        <p>- <strong>VIB</strong> (3,6,9,12)</p>
        <p>- <strong>CitiBank</strong> (3,6,9,12)</p>
        <p>- <strong>HSBC</strong> (3,6,9,12)</p>
        <p>- <strong>Shinhan – ANZ</strong> (6,12)</p>
        <p>- <strong>Seabank</strong> (3,6,9,12)</p>
        <p>- <strong>SCB</strong> ( Sài gòn Bank ) (3,6,9,12)</p>
        <p>- <strong>FE Credit</strong> (3,6,9,12)</p>
        <p>- <strong>Nam Á Bank</strong> (3,6,9,12)</p>
        <p>- <strong>OCB</strong> ( Phương Đông Bank ) (3,6,9,12)</p>
        <p>- <strong>Kienlongbank</strong> (3,6,9,12)</p>
        <p>- <strong>TP Bank</strong> (3,6,9,12)</p>
        <p>- <strong>BIDV</strong> (3,6,9,12)</p>
        <p>- <strong>Vietcombank</strong> (3,6,9,12)</p>
        <p>- <strong>Techcombank</strong> (3,6,9,12)</p>
        <p class="mt-5">+ Trong trường hợp có các chương trình ưu đãi khác, chủ thẻ vẫn sẽ được tham gia.</p>
        <p>+ Các điều khoản & điều kiện khác áp dụng cho Chủ thẻ khi sử dụng Dịch vụ Trả góp theo quy định của mPOS và có thể được mPOS thay đổi trong từng thời kỳ.</p>
        <p><i>Khách hàng tham gia trả góp qua thẻ tín dụng mPOS, tra cứu mức phí áp dụng <a href="https://mpos.vn/congcuhotro" target="_blank">tại đây</a></i></p>
    </div>
</div>
