
@{
    ViewBag.Title = "SwitchboardView";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="grid wide">
    <div class="SB-Content">
        <div class="SB-Content__itemImg">
            <img class="img-fluid" src="/Images/250.png" />
        </div>
        <div class="SB-Content__itemImg">
            <img class="img-fluid" src="/Images/249.png" />
        </div>
    </div>
</div>

