<footer class="footer" style="background-color:#f28b82" >
    <div class="grid wide">
        <div class="footer__Content">
            <div class="row no-gutters">
                <div class="col l-4 m-4 c-12">
                    <div class="footer__Content__Contact">
                        <h3 class="name-company">CÔNG TY TNHH THƯƠNG MẠI CHIẾN THẮNG</h3>
                        <h3 class="email-company">EMAIL: CSKH@GMAIL.COM</h3>
                        <p class="time-working"><b>HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ:</b> (Làm việc từ 8h00 - 22h00)</p>
                        <div class="contact__phone">
                            <div class="call-to-buy">
                                <span>Gọi mua hàng</span>
                                <b>1800 9981</b>
                            </div>
                            <div class="take-care-customer">
                                <span>Hỗ trợ khách hàng</span>
                                <b>1800 9982</b>
                            </div>
                        </div>
                        <div class="footer__Content__Policy">
                            <a href="#">Chính sách bảo hành</a>
                            <a href="#">Chính sách thanh toán</a>
                            <a href="#">Chính sách giao hàng</a>
                            <a href="#">Chính sách bảo mật</a>
                        </div>
                        <div class="footer__Content__Confirm">
                            <img src="~/Images/DaThongBao.png" />
                        </div>
                    </div>
                </div>
                <div class="col l-5 m-5 c-12">
                    <div class="footer__Content__Showroom">
                        <h3>HỆ THỐNG CỬA HÀNG:</h3>
                        <p><b>SHOWROOM Thái Bình</b> (Làm việc từ 8h00 - 21h30)</p>
                        <p>- Địa chỉ : Số 12 KĐT Petro Thăng Long, Phường Quang Trung.</p>
                        <p><b>SHOWROOM Hà Nội</b> (Làm việc từ 8h00 - 22h00)</p>
                        <p>- Địa chỉ : Số 6 Ngõ 7 Nguyên Xá, Phường Minh Khai, Quận Bắc Từ Liêm.</p>
                        <p style="margin-top:30px">Mua PC Gaming, laptop, card màn hình, màn hình máy tính, thiết bị chơi game như PS5 hàng đầu Việt Nam bảo hành chính hãng. Mua online nhận nhiều ưu đãi hấp dẫn.</p>
                        <p>- Công ty TNHH Thương Mại Chiến Thắng</p>
                      
                        <img style="margin-top:20px" src="/Images/275.png" />
                    </div>
                </div>
                <div class="col l-3 m-3 c-12">
                    <div class="footer__Content__Fanpage">
                        <h3>FANPAGE</h3>
                        <div class="fb-page-wrap">
                            <a href="https://www.facebook.com/profile.php?id=61559589757691" target="_blank" style="text-decoration:none;font-weight:bold;color:darkblue " >
                                <i class="fab fa-facebook"></i>Chiến Thắng Computer
                            </a>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</footer>
