
<div id="fvpp-advice">
    <div class="fvpp-advice-row">
        <div class="fvpp-advice-column">
            <img src="~/Images/tuvanbot.png" alt="" class="fvpp-advice-img">
        </div>
        <div class="fvpp-advice-column">
            <h3 class="fvpp-advide-heading">Bạn có cần tư vấn ?</h3>
            <ul class="option-list">
                <li class="option-item">
                    1. Chọn yes nếu bạn cần tư vấn
                </li>
                <li class="option-item">
                    2. Chọn no nếu bạn tự lo được
                </li>
            </ul>
            <div class="fvpp-advice-buttons">
                <button class="fvpp-advice-btn fvpp-advice-btn--yes" onclick="goToSurvey();">Có</button>
                <button class="fvpp-advice-btn fvpp-advice-btn--no">Không</button>
            </div>
        </div>
    </div>
</div>