<div class="rating">
    <div class="rating__container">
        <div class="rating-avatar">
            <img src="@Url.Content("/Images/" + Session["Avatar"].ToString())" alt="" class="rating-avatar__img">
        </div>
        <div class="rating-content">
            <p class="rating-name-user">@Session["NameUserRating"]</p>
            <div class="star-rated-wrap">
                @for (int i = 0; i < int.Parse(Session["StarRating"].ToString()); i++)
                {
                    <i class="fas fa-star star-rated-solid"></i>
                }
                @for (int i = int.Parse(Session["StarRating"].ToString()); i < 5; i++)
                {
                    <i class="far fa-star"></i>
                }
            </div>
            <p class="rating-text">
                @Session["ContentRating"]
            </p>
        </div>
    </div>
    <div class="rating-footer">
        <div class="ratingOn ratingNew">@Session["CommentedOn"]</div>
    </div>
</div>


