@model IEnumerable<GVNClone.MauEmail>

@{
    ViewBag.Title = "ChienThang";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}

<div class="ibox">
    <div class="ibox-head">
        <div class="ibox-title">Mẫu gửi mail</div>
        <div class="ibox-tools">
            <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
        </div>
    </div>
    <div class="ibox-body">
        <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Mẫu gửi mail</th>
                    <th>Subject</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Mẫu gửi mail</th>
                    <th>Subject</th>
                    <th>Action</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach(var item in Model) { 
                    <tr>
                        <td>@item.LoaiMauEmail.TenMau</td>
                        <td>@item.SubjectEmail</td>
                        <td>
                            <button class="btn btn-info btn-detail-config-email" data-id="@item.LoaiMauEmail.MaLoaiMau">Chi tiết</button>
                        </td>
                    </tr>    
                }
            </tbody>
        </table>
    </div>
</div>

@section jsFooter{
    <script>
        $(".btn-detail-config-email").on("click", function () {
            $('.md-content').addClass("md-show");
            $('.md-overlay').addClass("md-show");
            var id = $(this).data("id");
            $.ajax({
                type: 'POST',
                url: '/EmailConfig/ConfigEmail',
                data: { id: id },
                success: function (response) {
                    $(".md-content").html(response);
                },
                error: function (error) {
                    console.log(error.statusText);
                }
            })
        })

        $(".md-overlay").click(function () {
            closeModal();
        })

        $(".md-content").click(function (e) {
            e.stopPropagation();
        })

        function closeModal() {
            $(".md-content").removeClass("md-show");
            $('.md-overlay').removeClass("md-show");
        }

        $(document).keydown(function (e) {
            if (e.which === 27) {
                closeModal();
            }
        })
    </script>
    }
