
@{
    ViewBag.Title = "CartEmpty";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="container">
    <div class="layout-page-EmptyCart">
        <img src="~/Images/empty-cart.png" />
        <p class="emp-text">Chưa có sản phẩm nào trong giỏ hàng của bạn.</p>
        <a class="emp-btn-back-to-home" href="@Url.Action("DisplayAllProduct","Product")">Quay trở lại cửa hàng</a>
    </div>
</div>


