@font-face {
    font-family: "helveticaneue";
    src: url("../../fonts/helveticaneue.ttf") format("truetype");
}

:root {
    --header-height: 108px;
    --header-social-height: 28px;
    --white-color: #fff;
    --bg-color-header-social: #222222;
    --bg-color-header-navbar: #0a0a0a;
    --color-hover-text: #e04747;
    --facebook-color: #0b86ee;
    --btn-search-hover-color: #4db2ec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "helveticaneue";
    box-sizing: border-box;
}

body.perspective {
    perspective: 600px;
}

body.disable-scroll {
    overflow: hidden;
}

.page-news.perspective {
    transform-origin: 50% 200px 0;
    transform-style: preserve-3d;
    transition: transform 0.3s linear;
    transform: scale3d(0.9, 0.9, 0.9);
}

.pagelist.pagelist-search {
    justify-content: flex-start;
}

iframe {
    max-width: 100%;
}

.page-news {
    overflow: hidden;
}

.header {
    height: var(--header-height);
}

.header__social-media {
    height: var(--header-social-height);
    background-color: var(--bg-color-header-social);
}

.header__social-media-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    justify-content: flex-end;
    align-items: center;
    height: var(--header-social-height);
}

.header__social-media-item {
    margin: 0 1rem;
}

.pos-relative {
    position: relative;
}

.header-form-search {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--white-color);
    width: 34.3rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.2s ease-in-out;
}

    .header-form-search.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

.page-content-search {
    display: flex;
}

.page-content-left {
    flex: 2;
}

.page-content-right {
    flex: 1;
    padding: 40px;
}

.search-title {
    font-size: 2.8rem;
    line-height: normal;
    color: var(--color-hover-text);
}

.empty-result-text {
    font-size: 2.8rem;
    line-height: normal;
    margin:26px 0 64px 0;
    font-weight:normal;
}

.search-title span {
    color: #000;
}

.form-search {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
}

.form-input-search {
    padding: 0.8rem 0.9rem;
    outline: none;
    border: 1px solid #e1e1e1;
    height: 3.2rem;
    flex: 1;
}

.btn-search {
    min-width: 8.6rem;
    height: 3.2rem;
    background-color: #000;
    color: var(--white-color);
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "helveticaneue";
    transition: all 0.2s linear;
}

    .btn-search:hover {
        background-color: var(--btn-search-hover-color);
    }

.form-result-search {
    padding: 46px 0 12px 0;
}

.search-subtitle {
    font-size: 1.4rem;
    margin-bottom: 26px;
}

.pct-label {
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #000;
    color: var(--white-color);
    padding: 10px 0;
    text-align: center;
}

.header__social-media-item:hover .header__social-media-icon:first-child,
.header__social-media-item:hover .header__social-media-icon:last-child {
    color: var(--color-hover-text);
}

.header__social-media-item:nth-child(2):hover .header__social-media-icon {
    color: var(--facebook-color);
}

.header__social-media-item:last-child {
    margin-right: 0;
}

.header__social-media-link {
    text-decoration: none;
    font-size: 1.2rem;
}

.header__social-media-icon {
    color: var(--white-color);
}

.header__navbar-fixed {
    height: 5rem !important;
    position: fixed;
    top: -5rem;
    left: 0;
    right: 0;
    z-index: 10;
    animation: scroll 0.1s ease-in-out forwards;
}

@keyframes scroll {
    to {
        top: 0;
    }
}

.header__navbar-fixed .header__logo-image {
    width: 12.4rem;
}

.header__navbar {
    height: calc(var(--header-height) - var(--header-social-height));
    background-color: var(--bg-color-header-navbar);
    display: flex;
    align-items: center;
}

.header__navbar-sub {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 218px;
}

.header__logo-link {
    text-decoration: none;
    background-color: transparent;
}

.header__logo-image {
    width: 100%;
}

.header__navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
    align-items: center;
}

.header__navbar-item {
    margin: 0 2rem;
}

    .header__navbar-item:hover .header__navbar-item-link {
        color:var(--color-hover-text);
    }

    .header__navbar-item:last-child {
        margin-right: 0;
    }

.header__navbar-item-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
}

/* Container */
.page-breadcrumb-list {
    display: flex;
    margin: 2rem 0;
}

.page-breadcrumb-item {
    margin: 0 1rem;
}

    .page-breadcrumb-item:last-child .page-breadcrumb-item-link {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

.page-breadcrumb-item-link {
    text-decoration: none;
    color: #c3c3ce;
    font-size: 1.2rem;
}

/* Banner */

.page-banner,
.pch-block-box-wrap {
    position: relative;
}

.page-banner__overlay,
.pch-block-box-overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 3px;
}

.page-banner__image img,
.pch-block-box-inner img {
    width: 100%;
    height: 100%;
}

.page-banner-gallery,
.pch-block-gallery {
    text-decoration: none;
    display: block;
    position: relative;
}

.page-banner__content {
    position: absolute;
    bottom: 0;
    padding: 0 30px 9px 30px;
    width: 80%;
}

.page-banner__title {
    font-size: 4.4rem;
    line-height: 5.4rem;
    margin-bottom: 1.4rem;
    color: var(--white-color);
}

.page-banner__date-update {
    color: var(--white-color);
    font-size: 1.2rem;
    display: inline-block;
    padding-bottom: 21px;
}

.pch-block__content {
    position: absolute;
    bottom: 0;
    padding: 0 12px 9px 12px;
    width: 100%;
}

.pch-block__title {
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--white-color);
}

.pch-block__date-update {
    color: var(--white-color);
    font-size: 1.2rem;
    display: inline-block;
    padding: 10px 0;
}

.pch-block-title-wrap {
    border-bottom: 4px solid #dd3333;
    margin: 26px 0 0 0;
}

.row-page-list-feature {
    margin-top: 26px;
}

.pch-block-title-wrap .pch-block-title {
    font-size: 1.3rem;
    color: var(--white-color);
    padding: 9px 12px 6px 12px;
    background-color: #dd3333;
    display: inline-block;
    text-transform: uppercase;
}

/* Article */
.page-content-detail,
#pch-page-list-news-inner {
    max-width: 69.7rem;
}

.page-content-text-italic {
    font-style: italic;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin: 40px 0 35px;
}

.page-content-text {
    font-size: 1.6rem;
    line-height: 2.9rem;
    margin: 30px 0 28px;
}

    .page-content-text a {
        color: red;
    }

.page-content-iframe {
    max-width: 100%;
}

.page-content-img {
    max-width: 100%;
    width: 100%;
}

.page-content-text-bold {
    font-weight: 600;
}

.page-content-list {
    padding-left: 1.4rem;
    padding-bottom: 2rem;
}

.page-content-item {
    margin: 0.4rem 0;
    font-size: 1.5rem;
}

    .page-content-item span {
        line-height: 2.9rem;
    }

.relevant-article {
    padding: 5rem 0;
    max-width: 697px;
}

.relevant-tab {
    margin-bottom: 2.8rem;
    border-bottom: 2px solid #222222;
}

.relevant-tab-title {
    text-transform: uppercase;
    background-color: #222222;
    color: var(--white-color);
    padding: 1rem 1rem 0.8rem 1rem;
    display: inline-block;
}

.relevant-article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 2.2rem;
}

.relevant-article-item-link {
    text-decoration: none;
}

    .relevant-article-item-link:hover .relevant-article-title {
        color: var(--color-hover-text);
    }

.relevant-article-item-image img {
    max-width: 100%;
}

.relevant-article-title {
    color: #222222;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    height: 8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
}

.pch-page-item-news {
    display: flex;
    gap: 2.8rem;
    padding: 28px 0;
    border-bottom: 1px solid #e8e8e8;
}

    .pch-page-item-news:hover .pch-page-item-info-name a {
        color: var(--color-hover-text);
    }

    .pch-page-item-news:last-child {
        margin-bottom: 26px;
    }

.pch-page-item-img img {
    width: 218px;
    height: 150px;
}

.pch-page-item-info-name a {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    text-decoration: none;
    color: #000;
}

.pch-page-item-date-update {
    padding: 8px 0;
    color: #767676;
    font-size: 1.1rem;
}

.pch-page-item-excerpt {
    font-size: 1.4rem;
    line-height: 1.4;
    height: 36px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #767676;
}

/* Footer */

.footer {
    padding: 6rem 0;
    background-color: #111111;
    color: var(--white-color);
}

.footer-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 4.8rem;
}

.footer-heading {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-list {
    padding-bottom: 2.4rem;
}

.footer-item-link {
    display: flex;
    padding: 2.6rem 0;
    border-bottom: 1px solid var(--white-color);
    text-decoration: none;
}

    .footer-item-link:hover .footer-item-title {
        color: var(--color-hover-text);
    }

    .footer-item-link:last-child {
        border-bottom: 1px solid transparent;
    }

.footer-item-detail {
    margin-left: 1.4rem;
}

.footer-item-title {
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    height: 3.6rem;
    overflow: hidden;
}

.footer-item-date-update {
    color: #535353;
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

.footer-navigate-list {
    padding-left: 0;
    list-style: none;
    padding-top: 2.6rem;
}

.footer-navigate-item {
    margin-bottom: 1.8rem;
}

.footer-navigate-item-link {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

    .footer-navigate-item-link:hover {
        color: var(--color-hover-text);
    }

.line-end {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85.6rem;
    max-width: 100%;
    height: 0.1rem;
    border: 0;
    border-top: 1px solid #292929;
}

/* Footer contact */

.footer-contact {
    padding-top: 5.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 1.6rem;
}

.footer-logo {
    flex: 1;
}

.footer-logo-image {
    width: 100%;
    max-width: 100%;
}

.footer-contact-about {
    padding-left: 1rem;
    grid-column: 2 / 4;
}

.footer-contact-heading {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4rem;
}

.footer-contact-text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    font-weight: 500;
}

    .footer-contact-text:last-child {
        margin-bottom: 0;
    }

.footer-contact-email {
    color: #a22929;
    text-decoration:none;
}

.footer-contact-follow {
    flex: 1;
}

.footer-item-image {
    width: 100px;
    max-width: 100%;
}

.footer-contact-social-media {
    margin: 1.8rem 0 1.6rem 0;
    display: flex;
}

.footer-contact-icon {
    width: 4rem;
    height: 4rem;
    background: #181818;
    margin-right: 1.4rem;
}

    .footer-contact-icon:last-child {
        margin-right: 0;
    }

    .footer-contact-icon:first-child:hover .footer-contact-icon-link {
        color: var(--facebook-color);
    }

    .footer-contact-icon:last-child:hover .footer-contact-icon-link {
        color: #ff0000;
    }

.footer-contact-icon-link {
    text-decoration: none;
    transition: all 0.2s linear;
    color: var(--white-color);
    font-size: 1.4rem;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}


.category-name {
    font-size: 2.8rem;
    line-height: normal;
    margin: 26px 0;
    text-transform: uppercase;
}

.category-excerpt {
    font-size: 1.6rem;
    font-style: italic;
    line-height: 1.6;
    color: #777;
}

.header__navbar-mobile-close {
    font-size: 4.8rem;
    color: #fff;
    display: block;
    position: relative;
    top: -8px;
}
/* Back to top */
a.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 35px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #3097d1 url("https://thinhweb.com/wp-content/themes/thinhweb/images/cd-top-arrow.svg") no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

    a.cd-top.cd-is-visible,
    a.cd-top.cd-fade-out,
    .no-touch a.cd-top:hover {
        -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
        -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
        transition: opacity 0.3s 0s, visibility 0s 0s;
    }

    a.cd-top,
    a.cd-top:visited,
    a.cd-top:hover {
        color: #cccccc;
        text-decoration: none;
    }

        a.cd-top.cd-is-visible {
            /* the button becomes visible */
            visibility: visible;
            opacity: 1;
        }

        a.cd-top.cd-fade-out {
            /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
            opacity: 1;
        }

.header__navbar-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    background: #314d60fa;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform ease-in-out 0.25s, opacity linear 0.2s;
    overflow: hidden;
}


.header__navbar-mobile-search {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 100%;
    background: #314d60fa;
    transform: translateX(100%);
    opacity: 0;
    transition: transform ease-in-out 0.25s, opacity linear 0.2s;
    overflow: hidden;
}

.form-search-title {
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--white-color);
    text-transform: uppercase;
    margin-bottom: 26px;
}

.form-input-search-mobile {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    font-size: 2.6rem;
    color: var(--white-color);
    margin: 26px 0 18px 0;
}

.line-animate {
    display: flex;
    margin-bottom: 26px;
}

    .line-animate.active .line-slideToLeft::before,
    .line-animate.active .line-slideToRight::after {
        width: 100%;
    }

.line-slideToLeft,
.line-slideToRight {
    position: relative;
    flex: 1;
}

    .line-slideToLeft::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 1px;
        background-color: var(--white-color);
        transition: all 0.3s linear;
    }

    .line-slideToRight::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white-color);
        transition: all 0.3s linear;
    }

.form-search-mobile {
    padding: 90px 0;
    text-align: center;
}

.btn-search-mobile {
    min-width: 200px;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: "helveticaneue";
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-size: 1.8rem;
}

.header__search-icon,
.header__mobile-toggle,
.header__mobile-search-icon {
    display: none;
}


.nav-mobile {
    list-style: none;
    padding: 30px 0;
}

.nav-mobile-item {
    margin: 30px 0;
}

.nav-mobile-item-link {
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
}

/* Mobile & tablet */
@media (max-width: 1023px) {
    .grid.wide {
        padding: 0 12px;
    }
}

/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .header__navbar-item {
        margin: 0 1.8rem;
    }

    .header__navbar-item-link {
        font-size: 1.2rem;
    }

    .page-content-detail,
    .relevant-article {
        margin: 0 auto;
    }

    .footer-main {
        gap: 0 3.5rem;
    }

    .footer-contact-heading {
        font-size: 1.5rem;
    }
}

/* Mobile */
@media (max-width: 739px) {
    /* body {
        perspective: 600px;
    } */
    .pch-block-box-wrap {
        margin-bottom: 26px;
    }

    .page-banner__content {
        padding: 0px 15px 9px 15px;
        width: 100%;
    }

    .page-banner__title {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    .page-banner__date-update {
        padding-bottom: 12px;
    }

    .page-breadcrumb-item:last-child .page-breadcrumb-item-link {
        display: none;
    }

    .page-content-detail,
    .relevant-article,
    .footer-main {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__navbar-sub {
        justify-content: space-around;
    }

    .header__logo-image {
        width: 145px;
        max-height: 48px;
    }

    .header__mobile-toggle,
    .header__mobile-search-icon {
        display: flex;
        align-items: center;
    }

        .header__mobile-toggle i {
            font-size: 2.6rem;
            color: var(--white-color);
        }

    .header__navbar {
        max-height: 54px;
    }

    .header__logo {
        text-align: center;
    }

    .display-on-mobile {
        display: flex;
    }

    .header__mobile-search-icon i {
        font-size: 2rem;
        color: var(--white-color);
    }

    .relevant-article-list {
        grid-template-columns: 1fr;
    }

    .relevant-article-item-link {
        display: flex;
        gap: 10px;
        margin-bottom: 6px;
    }

    .relevant-article-item-image {
        min-width: 100px;
    }

        .relevant-article-item-image > img {
            width: 100%;
            height: 68.8px;
        }

    .footer {
        padding-bottom: 4rem;
    }

    .footer-main {
        grid-template-columns: 1fr;
    }

    .line-end {
        width: 32.3rem;
        margin-top: 4rem;
    }

    .footer-contact {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 60px 0;
    }

    .footer-logo-image {
        width: 262px;
        height: 75px;
    }

    .footer-contact-about {
        grid-column: unset;
    }

    .footer-contact-social-media {
        display: flex;
        justify-content: center;
    }

    .header {
        height: auto;
    }

    .header__navbar-mobile.active, .header__navbar-mobile-search.active {
        transform: translateX(0);
        opacity: 1;
    }

    .header__navbar-mobile-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__navbar-mobile-content {
        padding: 3.2rem;
    }

    .header__social-media-mobile-link {
        font-size: 1.4rem;
        margin-right: 3.8rem;
    }

    .header__navbar-mobile-close > i {
        font-size: 3rem;
        color: var(--white-color);
    }
}

@media (max-width: 576px) {
    .pch-page-item-news {
        flex-direction: column;
    }

    .pch-page-item-img img {
        width: 100%;
        height: auto;
    }

    .page-banner__title {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .pch-block__title {
        font-size: 1.2rem;
    }
}

.pagelist {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 26px;
}

.pagination {
    display: flex;
}

    .pagination li {
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 35px;
        border: 1px solid #dedede;
    }

        .pagination li a {
            color: #588eca;
            text-decoration: none;
            font-size: 16px;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 35px;
        }

        .pagination li:hover {
            background-color: #ffe06c;
        }

            .pagination li:hover a {
                color: #333;
            }

        .pagination li.active {
            background-color: #ffe06c;
        }

            .pagination li.active a {
                color: #588eca;
            }
