
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <link rel="short icon" href="~/MarkLeo.ico" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .page-not-found {
            text-align: center;
        }

        .img-fluid {
            width: 100%;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <div class="page-not-found">
        <img src="/Images/Page404.png" class="img-fluid" />
    </div>
</body>
</html>
