
@{
    ViewBag.Title = "PromotionView";
    Layout = "~/Views/Layout/_LayoutPage.cshtml";
}

<div class="grid wide">
    <div class="wrap-content-promotion">
        <p class="text-center">
            <span style="font-size:20px; color: #ff0000;">
                <span style="font-size:36px">★</span>
                <strong style="font-size:30px;">TRANG TỔNG HỢP THÔNG TIN KHUYẾN MÃI GAMING GEAR</strong>
                <span style="font-size:36px">★</span>
            </span>
        </p>
        <div class="content-page">
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* GEAR XỊN ĐÓN TẾT - ƯU ĐÃI LÊN ĐẾN 51%</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/272.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* TỔNG HỢP KHUYẾN MÃI BÀN PHÍM</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/271.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* TỔNG HỢP KHUYẾN MÃI CHUỘT</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/247.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* KHUYẾN MÃI GAMING GEAR LOGITECH</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/268.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* KHUYẾN MÃI GAMING GEAR RAZER</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/269.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* KHUYẾN MÃI GAMING GEAR CORSAIR</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/267.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* KHUYẾN MÃI GAMING GEAR STEELSERIES</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/270.png" />
                </div>
            </div>
            <div class="pmt-item">
                <strong style="color: #ff0000; font-size:26px;">* BALO ASUS ROG RANGER BP1502 GIẢM NGAY 50%</strong>
                <div class="pmt-item__img mt-3 mb-5">
                    <img class="img-fluid" src="/Images/248.png" />
                </div>
            </div>
        </div>
    </div>
</div>

